@media (pointer:none), (pointer:coarse) {

}

/* body {
    transform: rotate(90deg) translate(0, -100vw);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

@media (orientation: portrait) {
    body {
        transform: none !important;
        width: 100vw;
        height: 100vh;
    }
} */